html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#myCanvas {
    background-color: black;
    border: 2px solid rgb(138, 138, 138);
}

.text-up {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

.text-down {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: white;
}
